RewriteEngine on
RewriteRule "^Registro$"  "registro.php"
RewriteRule "^Docente$"  "index_docente.php"
RewriteRule "^Administrador$"  "index_admin.php"
RewriteRule "^Tecnico$"  "index_tecnico.php"
RewriteRule "^LoginDocente$"  "logdocente.php"
RewriteRule "^LoginAdministrador$"  "logadmin.php"
RewriteRule "^LoginTecnico$"  "logtecnico.php"
ErrorDocument 404 "<H1>404 Not se found la pagina xd<br>esto se puede cambiar por una pagina con CSS chido :v</H1>"
